/*navbar*/
.navbar{
	font-family: NotoSansDemilight,"Microsoft JhengHe","微軟正黑體", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.navbar-header .navbar-brand{
	font-weight: bold;
	color: #000000;
}
.glyphicon-heart{
	color: red;
	top: 4px;
}
/*body*/
body{
	font-family: NotoSansDemilight,"Microsoft JhengHe","微軟正黑體", "Helvetica Neue", Helvetica, Arial, sans-serif;
	background: rgba(155,145,128,0.22);
}
/*footer*/
footer {
	background-color: #555;
	color: white;
	padding: 15px;
	margin-top: 20px;
}
/*inner in column*/
.inner{
	/*background: #E0E0E0;*/
	border : 10px solid transparent;
}
/*text*/
.text-bold{
	font-weight: bold;
}
.text-super-large{
	font-size: 63px;
}
@media screen and (max-width: 768px){
	.text-super-large{
		font-size: 36px;
	}
}